$grey: #EFEFEF;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    border-bottom: 2px solid black;
  }
}

li {
  list-style: none;
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.btn--primary {
  outline: none;
  border: none;
  background-color: black;
  color: white;

  &:hover {
    outline: 1px solid black;
    outline-offset: 0.3rem;
  }
}

.btn--secondary {
  margin: 0.3rem;
  margin-top: 1rem;
  border: 2px solid black;
}

input,
textarea,
button,
select,
option {
  font-family: inherit;
}

option {
  font-weight: 700;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.46);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.icon {
  cursor: pointer;
  font-size: 1.8rem;
}

.icon--bold {
  font-weight: 600;
}

.hidden {
  display: none;
}