html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    border-bottom: 2px solid black;
  }
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    outline: 1px solid black;
    outline-offset: 0.3rem;
  }
}