.header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;

  &__img {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
  }

  &__text {
    font-size: 2.5rem;
    font-weight: 800;
  }
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  & ul {
    display: flex;
  }
}

.main {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }

  &__progress {
    width: 70vw;
    height: 1rem;
    background-color: $grey;
    border-radius: 10rem;
    margin-left: 2rem;
  }

  &__progress-bar {
    width: 0;
    height: 1rem;
    background-color: black;
    border-radius: 10rem;
    transition: width 0.5s;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
}